@import "variables";
@import "normalize";

html, body {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.app-wrap {
  height: 100%;
  position: relative;
  width: 100%;
}

.app-content {
  font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b体,sans-serif;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  width: 100%;
}